/.devpanel/dumps/
/.devpanel/salt.txt
/.editorconfig
/.gitattributes
/.vscode/
/README.md
/assets/
/composer.json
/composer.lock
/config/
/load.environment.php
/local.env.example
/logs/*
/package-lock.json
/patches.lock.json
/private/
/recipes/
/shell.sh
/vendor/
/web/
